In [1]:
import pandas as pd
import numpy as np
import keras
from sklearn import preprocessing
from skimage.io import imread,imshow
import math
import matplotlib.pyplot as plt
import cv2

Using TensorFlow backend.

In [2]:
train = pd.read_csv('train.csv')
depths = pd.read_csv('depths.csv')

In [3]:
# train.head(3)
# train.describe()
# train.shape
train['id']

0       575d24d81d
1       a266a2a9df
2       75efad62c1
3       34e51dba6a
4       4875705fb0
5       782ae9b7e7
6       9842f69f8d
7       aa94cfb806
8       50d3073821
9       28f865caaa
10      b5e1371b3b
11      57e394bc67
12      b45ad3932e
13      ef51bbcde7
14      d4d34af4f7
15      302ea1ac81
16      40dcff68b3
17      7845115d01
18      3da729cae9
19      d67e3a11d8
20      b3396387a6
21      a5471f53d8
22      d27831fef2
23      7faea04242
24      9747413253
25      b9614348f4
26      4696bb53e6
27      fc250f574c
28      005b452274
29      02117a400e
           ...
3970    16207869ba
3971    44d745a704
3972    711c478c93
3973    84e23dba29
3974    e73532b450
3975    8329ec9395
3976    7e7276d088
3977    0e63d9a8b4
3978    1d80de2ec9
3979    919bc0e2ba
3980    5cada3d3f1
3981    0530b67189
3982    fb44090bc7
3983    3c1ed5cc1f
3984    c7f54785b8
3985    158765ed16
3986    3ff3881428
3987    e8d8b35601
3988    a7cfa30d35
3989    917ef84e64
3990    633c7d5c80
3991    30082e87d9
3992    f139be21a4
3993    ac931ace49
3994    cb36193e2f
3995    9cbd5ddba4
3996    caa039b231
3997    1306fcee4c
3998    48d81e93d9
3999    edf1e6ac00
Name: id, Length: 4000, dtype: object

In [4]:
depths['z'] = (depths['z'] - 50) / 950
depths.describe()
# depths.head(5)
# depths.where(depths['id'] == '575d24d81d').dropna()

                  z
count  22000.000000
mean       0.480477
std        0.219585
min        0.000000
25%        0.317895
50%        0.487368
75%        0.653684
max        0.956842

In [5]:
tr=cv2.imread('train/a266a2a9df.png').mean(axis=2)
te=cv2.imread('masks/a266a2a9df.png').mean(axis=2)

In [6]:
batch_size = train.shape[0]
list_of_samples = train['id'].sample(batch_size) # shuffle too plz
x_img = np.zeros((batch_size,  101**2))
x_depth = np.zeros((batch_size,  1))
y = np.zeros((batch_size,  101**2))
# for i in train['id']:

SyntaxError: invalid syntax (<ipython-input-6-32d56bb144ec>, line 5)

In [29]:
train['id'].sample(5)

2488    0fcbd0567b
1034    ac5f676fa3
773     df8c73e52b
2648    c29c36a1e8
969     04315b9a64
Name: id, dtype: object